/* HTML ELEMENT SELECTORS */
body::-webkit-scrollbar {
  /* Layout */
  /* Hide scroll bar */
  display: none;
  font-family: 'Outfit', sans-serif;
}

body {
  font-family: 'Outfit', sans-serif !important;
  font-weight: 300;
}

section {
  /* Layout */
  padding-top: 10rem;
  padding-bottom: 10rem;
}

footer {
  /* Layout */
  padding-top: 5rem;
  padding-bottom: 5rem;
}

hr {
  /* Layout */
  border: none;
  padding: 0;
  margin: 0;

  /* Style */
  height: 5px !important;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

thead {
  /* Style */
  border: 1px solid rgb(160, 159, 159);
  line-height:1.5em
}

a:hover {
  /* Style */
  color: rgb(252, 139, 2) !important;
}

/* CLASS SELECTORS */
.form {
  /* Layout */
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;

  /* Style */
  background-color: #FFFFFF;
  border-radius: 5px; 
}

.achievement-item {
  /* Layout */
  margin: 2rem;
}

.achievement-img {
  /* Layout */
  width: 50px;
  height: 50px;

  /* Style */
  background-color: white;
}

.divider-icon {
  /* Layout */
 margin-left: -10px;
 margin-right: -10px;
}
.navbar-custom {
  /* Style */
  background-color: #FFFFFF;
  font-size: 18px;
  /* font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
}

.nav-link {
  /* Layout */
  color: rgb(0, 0, 0);
}

.nav-title {
  /* Style */
  text-decoration: none;
  font-size: 20px;
}
.active {
  /* Style */
  color: rgba(255,71,71,1);
}

.cmsNavContent {
  /* Layout */
  margin-top: 100px;
  margin-left: 50px;
  text-align: left;
}
.navbar-brand-custom {
  /* Style */
  font-size: 1.8em !important;

  transition: font-size 0.3s;
}

.section-coloured {
  /* Layout */
  margin-right: -15px;
  margin-left: -15px;

  padding-right: 24px;
  padding-left: 24px;

  /* Style */
  background: rgb(254,160,42);
  background: linear-gradient(326deg, rgba(254,160,42,1) 12%, rgba(255,71,71,1) 100%);
}
.section-white {
  /* Layout */
  text-align: center;
  margin-right: -15px;
  margin-left: -15px;

  padding-right: 24px;
  padding-left: 24px;
  /* Style */
  background-color: #F2F2F2;
}

.copyright {
  /* Layout */
  line-height: 0;

  /* Style */
  background-color: black;
}

.title {
  /* Style */
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
}


.image-container {
  /* Layout */
  position: relative;
  width: 150px;
  height: 150px;
  margin: 5px;
}

.avatar {
  /* Layout */
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.image-list-item {
  /* Layout */
  display: block;
  position: absolute;
}
.icon{
  /* Layout */
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.product-card {
  /* Layout */
  padding: 0px !important;
  margin: 7px;
  margin-top: 12px;

  /* Style */
  background-color: #ffffff;
  border-radius: 5px;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  height: 300px;

}
.product-image {
  /* Style */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 175px;
  max-width: 200px !important;
}

.product-text {
  /* Style */    
  text-align: left;
  padding-top: 15px;
  padding-left: 5%;
  line-height: 0.5;
}

.product-btn {
  /* Layout */    
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 90%;
  
  /* Style */  
  cursor: pointer;
  bottom:5px;
  padding: 7px;
  padding-left: 5px;
  padding-right: 5px;
  border: 0px;
  border-radius: 4px;
  color: #F2F2F2;
  font-weight: bold;
  background: rgba(255,71,71,1);
  background: linear-gradient(326deg, rgba(254,160,42,1) 0%, rgba(255,71,71,1) 30%);
}

.large-card {
  /* Layout */
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;

  /* Style */
  background-color: #F4F4F4;
  border-radius: 5px; 
  text-align: center;
}
.custom-table {
  /* Style */
  width: 100%;
}
.custom-table > table{
  /* Style */
  width: 100%;
}
.row-light {
  /* Style */
  background-color: #FFFFFF;
}
.row-dark {
  /* Style */
  background-color: #e4e3e3;

}

.update, .delete, .receipts {
  /* Style */
  border: none;
  background-color: transparent;
}

.update {
  /* Style */
  color: #051958;
}

.delete {
  /* Style */
  color: #FF4B46;
}


/* ID SELECTORS */
#mainNav {
  /* Layout */
padding-top: 1.2rem !important;
padding-bottom: 1.2rem !important;
transition: padding-top 0.3s, padding-bottom 0.3s;
}

#mainNav.navbar-shrink {
/* Layout */
padding-top: 0.5rem !important;
padding-bottom: 0.5rem !important;
}

#mainNav.navbar-shrink .navbar-brand {
/* Layout */
font-size: 1.8rem !important;
transition: font-size 0.5s;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  /* Style */
  color: #FF4747;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  /* Style */
  color: #FF4747;
}

#mainCmsNav {
  /* Style */
  text-align: center;
}

#MainImage {
  /* Style */
  transform: rotate(10deg);
  border-radius: 5px;
}

#slogan {
  /* Style */
  border: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}